<% include ../header %>
<div id="banner">
	<div class="banner-background"><img src="/images/banner.png" /></div>
	<div class="tagline">Drive, forget, and enjoy again.</div>
	<div class="description">Roadtrip helps you create a scrapbook of your trip automatically with photos, tweets, facebook updates, and much more.</div>
</div>
<div class="welcome-box">
	<div class="welcome-headline">Start a trip. Enjoy the View. </div> 
	<div class="welcome-description">Roadtrip will automatically organize all your activities and plot it on the map in context of your road trip, so that you can relive the experience again.</div>
	<div class="welcome-screenshots">
</div>
<div class="welcome-screenshots">
	<img src="/images/screenshot.png" />
	<img src="/images/screenshot.png" />
	<img src="/images/screenshot.png" />
</div>
<% include ../footer %>
