<!DOCTYPE html>
<html>
  <head>
    <title>roadtrip</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
  	<header>
	    <h1>roadtrip</h1>
	  </header>
	  <div id="content">