<!DOCTYPE html>
<html>
  <head>
    <title>roadtrip</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
  	<header>
	    <h1>roadtrip</h1>
	    <div id="user">
	    <% if (user) { %> 
	    	<a href="/user"><%= user.username %></a>
	    <% } else { %>
	    	<a href="/login">login</a>
	    <% } %>
	    </div>
	    <div class="clear"></div>
	  </header>
	  <div id="content">